---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Endpoint GetAllAnimes Documentation">
	<div class="w-full flex flex-col justify-center items-center mt-4 font-black">
		<h2 class="font-bold text-4xl text-white">Get All Characters Documentation</h2>
		<main class="w-8/12 flex flex-col items-center gap-6">
			<h4 class="font-bold text-3xl text-white">EndPoint to Get All Characters on the DB</h4>
			<p class="text-white font-bold text-md text-pretty text-center flex items-center gap-1">The EndPoint for this feature is  <a target="_blank" href="/api/characters.json"><code>/api/characters.json</code></a></p>
        </main>
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
    code{
        background-color: #343434;
        padding: .25rem .25rem;
        font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
        font-size: 0.833rem;
    }
</style>
