---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Anime API">
	<div class="w-full flex flex-col justify-center items-center mt-4 font-bold">
		<h2 class="font-bold text-2xl text-white">Main Page</h2>
		<main class="w-8/12 flex flex-col items-center gap-6">
			<h4 class="font-bold text-xl text-white">About the Project</h4>
			<p class="text-white font-bold text-xl text-pretty">Build with the porpuse of learn/practice Data Structures and Data Manipulation.</p>
			<p class="text-white font-bold text-xl text-pretty">On each of the Left SideBar elements you will find an explanation of an Endpoint/Parameter for that Endpoint, bear in mind that this is a micro-service only destined to use it for Developer Porpuses so the Data Set is small.</p>
			<p class="text-white font-bold text-xl text-pretty">Done By Marco Antonio, using Astro</p>
		</main>
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
